<h2>Subscribers</h2>

<table>
     <tr>
        <th>
            <h3>Subscriber Information</h3>
        </th>
     </tr>
</table>
<table>
    <tr>
    <th align = "left" width = "150x;">Name</th>
    <th align = "left" width = "150px;">Phone</th>
    <th align = "left" width = "50px;">ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @subscribers.each do |subscribers| %>
      <tr>
        <td><%= subscribers.Name %></td>
        <td><%= subscribers.Phone %></td>
        <td><%= subscribers.ID_Number %></td>
        <td><%= link_to 'Show', subscribers %></td>
      </tr>
  <% end %>
</table>
