<p id="notice"><%= notice %></p>

<p>
  <h3>Subscriber Information</h3>
</p>

<p>
  <b>Name:</b>
  <%= @subscribers.Name %>
</p>

<p>
  <b>Phone:</b>
  <%= @subscribers.Phone %>
</p>

<p>
  <b>ID:</b>
  <%= @subscribers.ID_Number %>
</p>



<%= link_to 'Back', subscribers_path %>
 
